main{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    height: 600px;
    width: 600px ;
    border: 1px solid black;
    display:flex;
    justify-content: center;
    align-self:center;
}
.btn{
    height: 50px;
    width: 100px;
    border-radius: 100%;
    border:1 px solid black;
}